.bio-container {
    padding-top: 120px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bio-title {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    text-shadow: 0px 0px 8px #A0E7FB;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0);
    margin: 0;
}

.headshot-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

.certification {
    width: 25%;
    height: 25%;
    max-width: 200px;
    margin-top: 40px;
    margin-left: 40px;
}

.headshot {
    width: 70%;
    max-width: 800px;
    height: 70%;
}

.bio-text {
    font-family: 'Montserrat';
    width: 85%;
    max-width: 1000px;
    margin-top: 20px;  
    line-height: 1.4;
    text-shadow: 1px -1px 1px rgb(0, 0, 0);
    padding: 3px;
}

.text1 {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0);
}

.text2 {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0);
}

@media screen and (min-width: 750px) {
    .bio-title {
        font-size: 75px;
    }

    .bio-text {
        font-size: 22px;
    }
}